In [36]:
import pandas as pd

In [37]:
path = r"C:\Users\Gamer PC\Desktop\Git\Bootcamp-Assignment-2\PyBank\budget_data.csv"
df = pd.read_csv(path)

In [38]:
df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [40]:
num_months=len(df["Date"])
print(num_months)

86

In [24]:
pnl = df["Profit/Losses"].sum()
print(pnl)

22564198

In [42]:
df["Change"] = df["Profit/Losses"].diff()
df

      Date  Profit/Losses     Change
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [51]:
change = df["Change"].sum()
average_change = change/85
print(average_change)

-8311.105882352942

In [54]:
min_change = df["Change"].min()
max_change = df["Change"].max()
print(min_change)
print(max_change)

-1825558.0
1862002.0

In [64]:
df_min_change = df[df["Change"] == min_change]
df_min_change

      Date  Profit/Losses     Change
49  Feb-14        -946748 -1825558.0

In [65]:
df_max_change = df[df["Change"] == max_change]
df_max_change

      Date  Profit/Losses     Change
79  Aug-16         951227  1862002.0

In [75]:
min_row_values = df_min_change.iloc[0].astype(str)
min_change_date = min_row_values["Date"]
min_change_value = min_row_values['Change']
print(min_change_date)
print(min_change_value)

Feb-14
-1825558.0

In [76]:
max_row_values = df_max_change.iloc[0].astype(str)
max_change_date = max_row_values["Date"]
max_change_value = max_row_values['Change']
print(max_change_date)
print(max_change_value)

Aug-16
1862002.0

In [78]:

report_text = f"""Financial Analysis
----------------------------
Total Months: {num_months}
Total: ${pnl}
Average Change: ${average_change:.2f}
Greatest Increase in Profits: {max_change_date} (${max_change_value})
Greatest Decrease in Profits: {min_change_date} (${min_change_value})
"""

with open("financial_analysis.txt", "w") as file:
    file.write(report_text)

print(report_text)

Financial Analysis
----------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 ($1862002.0)
Greatest Decrease in Profits: Feb-14 ($-1825558.0)